.container {
    display: flex;
    align-items: center;
    min-height: 100vh;

    > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, thead, td {
    border: 1px solid black;
    vertical-align: bottom;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    > input {
        display: block;
    }
}

input {
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

.form-control {
    margin-bottom: 10px;
    width: fit-content;
}

.btn-settle-up {
    margin-left: 10px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;

    &:hover, &:focus {
        background-color: lightgray;
    }

    &:disabled {
        background-color: lightgray;
    }
}