<main class="container">
    <form (submit)="addExpense()" [formGroup]="expenseForm">
        <div class="form-control">
            <label for="nameInput">Name:</label>
            <input type="text" name="nameInput" formControlName="name">
        </div>
        <div class="form-control">
            <label for="priceInput">Price:</label>
            <input type="number" name="priceInput" formControlName="price">
        </div>
        <button type="submit" [disabled]="!isValid" class="submit-button">Add Expense</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Expense</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses">
                <td>{{ expense.name }}</td>
                <td>{{ expense.price | currency:'GBP' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="align-center">
        <button class="btn-settle-up" (click)="settleUp()">Settle Up</button>
        <div *ngIf="nodeResponse">
            <h4>Total: {{ nodeResponse.total }}</h4>
            <h4>Equal Share: {{ nodeResponse.equalShare }}</h4>

            <table>
                <thead>
                    <tr>
                        <th>Owes</th>
                        <th>Owed</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payout of nodeResponse.payouts">
                        <td>{{ payout.owes }}</td>
                        <td>{{ payout.owed }}</td>
                        <td>{{ payout.amount | currency:'GBP' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>